<?xml version="1.0"?>
<launch>
  <arg name="model_name" default="target_box" />
  <arg name="center_x" default="5.0" />
  <arg name="center_y" default="0.0" />
  <arg name="radius" default="1.5" />
  <arg name="omega" default="0.25" />
  <arg name="z" default="0.75" />

  <node pkg="p3at_sim" type="move_target_box.py" name="move_target_box" output="screen">
    <param name="model_name" value="$(arg model_name)" />
    <param name="center_x" value="$(arg center_x)" />
    <param name="center_y" value="$(arg center_y)" />
    <param name="radius" value="$(arg radius)" />
    <param name="omega" value="$(arg omega)" />
    <param name="z" value="$(arg z)" />
  </node>
</launch>
