<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- Force master/host to local (safe for WSL single-machine) -->
  <env name="ROS_MASTER_URI" value="http://localhost:11311"/>
  <env name="ROS_HOSTNAME" value="localhost"/>

  <!-- 1) Gazebo + P3AT with depth -->
  <include file="$(find p3at_sim)/launch/bringup_depth.launch"/>

  <!-- 2) Depth -> LaserScan -->
  <include file="$(find p3at_nav)/launch/depth_to_scan.launch" />
</launch>
