<launch>
  <arg name="use_rviz" default="true" />
  <arg name="rviz_config" default="$(find p3at_gazebo)/rviz/p3at_hcr.rviz" />

  <include file="$(find p3at_gazebo)/launch/bringup_sim.launch" />

  <!-- map_manager should already be in your workspace -->
  <include file="$(find map_manager)/launch/dynamic_map.launch" />

  <include file="$(find p3at_navigation)/launch/move_base.launch" />

  <!-- Provide a stable target topic for the follower even if no real dynamic target is detected. -->
  <include file="$(find target_follower)/launch/target_pos_mux.launch" />

  <include file="$(find target_follower)/launch/follow_target.launch" />

  <group if="$(arg use_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(arg rviz_config)"/>
  </group>
</launch>
