<launch>
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.1" />
  <arg name="yaw" default="0.0" />

  <include file="$(find p3at_gazebo)/launch/gazebo.launch"/>

  <include file="$(find p3at_gazebo)/launch/spawn_p3at.launch">
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>
</launch>
